<a href="https://colab.research.google.com/github/Gieo334/CPE-009B-CPE-21S1-OOP/blob/main/Excercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Variable and Data Types

Numbers

In [18]:
varNum = 123
pi = 3.14159

Strings

In [19]:
varString = "Hello WOrld!"
varText = 'this is a string'

LIst

In [20]:
varList = ["abc",123]

Tuples

In [ ]:
varTuple = 'abc',123,"HELLO"

Dictionaries

In [ ]:
var = 3
varDict = {'first':1, '2':'2nd', 3:var}

In [3]:
varDict = {}
varDict['first']= 1
varDict['2'] = '2nd'
varDict[3] = var

NameError: name 'var' is not defined

Arithmetic

Addition

In [ ]:
a = 5 + 3

Subtraction

In [9]:
 a = 5 - 3
 a

2

Multiplication

In [10]:
a = 5 * 3
a

15

Exponent

In [11]:
a = 5 ** 3
a

125

Division

In [12]:
a = 5 / 3
a

1.6666666666666667

In [14]:
a = 5 % 3
a

2

In [15]:
a = 5 // 3
a

1

Conditional Statements

Boolean Conditions

In [ ]:
x = True

if x:
    print("var x is True")
else:
  print("var x is False")
>var x is True

String Conditions

In [17]:
x = "hello World!"

if x == 'Hello World!':
  print ("var x is Hello World!")
  else:
    print("var x is not Hello World!")

SyntaxError: invalid syntax (<ipython-input-17-fb53eee1a9d3>, line 5)

 >var is Hello WOrld!

Numerical Conditions

In [ ]:
x = 10

if x == '10':
  print ("var x is a string")
  elif x == 10:
    print ("var x is an integer")
    else:
      print("var is none of the above")

var x is an integer

Loops

For Loops

In [21]:
for var in range(0,5,2):
  print(var)

0
2
4

While Loops

In [22]:
var = 0
while var <5:
  print(var)
  var+= 2

0
2
4

Nested Loops

In [ ]:
x = 0
while x <5:
  for y in range (0,x):
    print(y, end='')
    x += 1
    print()

*Note:The loop decleration ends with a colo(:)while its contents inside are indented

Can contain a number of values comprised of different datatypes

In [ ]:
pi = 3.14159
varlist = [1,2,'A','B'','Hello!', pi]
print(varList[0])

In [ ]:
print(varList[4])

In [ ]:
varList.append('World!')
print(varList[6])

In [ ]:
len(varList)

In [ ]:
print(varList[5])

In [ ]:
varList.remove(pi)
print(varList[5])

*Note:List starts with an index of 0.
The remove()method erases the first value that mathces the parameter.

Dictionaries

In [ ]:
var = "Hello world!"
varDict = {'first' : 123, 2 : 'abc'}
'3' : var, 4 : ['lista', 'listb']}
print(varDict['first'])

In [ ]:
print(varDict[2])

In [ ]:
print(varDict['3'])

In [ ]:
print(varDict[4])

In [ ]:
print(varDict[4][1])

In [ ]:
len(varDict)

List generations and Comprehension

Generate can be used to build list in the memory as objects

In [ ]:
def gen_num_upto(n):
  num = 0
  while num < n:
    yield num
    num+= 1

    gen_num_upto(5)

*note:This creates an object

In [ ]:
varList = gen_num_up_to(5)
print([var for var in varList])

In [ ]:
defgen_num_upto(n):
  num = 0
  while num< n:
    yield num
    num += 2
    varList = gen_num_up_to(5)
    print([var for var in varList])

Functions

Phython functions use the following notation:

In [ ]:
deffunction name:
    commands

In [ ]:
def reminder(n,a):
  while True:
    if n - n < 0:
      return n
      else:
        n = n
        remainder(10,4)

*note:Function are defined with the keyboard def before the function name.Similar to loops,the function definition ends with a colon() while its contents inside are intdented.